.wrapper_nav_bar{
    margin-top: 10px;
}
.nav_bar_list{
    list-style: none;
}
.nav_bar_list li{
    font-size: 16px;
    color: #279aff;
    cursor: pointer;
}
.nav_bar_list li:not(:last-child){
    margin-bottom: 10px;
}