.post_item{
    color: #61dafb;
    display: flex;
}
.post_item__img{
    color: #61dafb;
    width: 80px;
    margin-right: 20px;
}
.post_item__img img{
    width:100%;
    height: auto;

}
.post_item__text{
    color: #61dafb;
}
.post_item__likes{
    margin-left: 20px;
}