.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 100%;
  position: relative;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
a{
  color: #279aff;
  text-decoration: none;
}
a.active{
  color: red;
}
a.active_link{
  color: green;
}
ul{
  list-style: none;
}

/*Общие стили*/
.nav_bar_list{

}
.nav_bar_list li{
  cursor: pointer;
}
.nav_bar_list li:not(:last-child){
  margin-bottom: 10px;
}
.nav_bar_list li a{
  color: #279aff;
  font-size: 18px;
}
/*компонент главный контейнер*/
.body_container__wrapper{
  display: flex;
}
/*Компонент навбар*/
.wrapper_nav_bar{
  width: 20%;
}

  /*Компонент Диалоги*/
.buttton_dialog{
  display: block;
}
.dialogs_container__wrapper{
  display: flex;

}
.dialogs_container{
  padding-left: 50px;
}
.dialogs_container_users{
  width: 25%;
  border-right: 1px solid;
}
.dialogs_container_users__item:not(:last-child){
  margin-bottom: 10px;
}
.dialogs_container_users__item p{
  display: flex;
  align-items: center;
}
.dialogs_container_users__item p:before{
  content: "";
  margin-right: 5px;
  margin-top: 1px;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #282c34;
}
.dialogs_container_message{
  padding-left: 100px;
  width: 75%;
}
.dialogs_container{
  color: #279aff;
}
/*Компонент футер*/
.footer{
  background-color: azure;
  padding: 20px 0;
}
/*Компонент профайл*/
.wrapper_profile{
  width: 80%;
}

/*Компонент отдельное сообщение*/

.massege_wrapper{
  display: flex;
  margin-bottom: 30px;
}
.massege_wrapper__img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 20px;
  flex-shrink: 0;
}
.massege_wrapper__massege{
  padding: 10px;
  border: 1px solid;
  border-radius: 6px;
  min-width: 260px;
}
/*Посты*/

.post_item{
  color: #61dafb;
  display: flex;
}
.post_item__img{
  color: #61dafb;
  width: 80px;
  margin-right: 20px;
}
.post_item__img img{
  width:100%;
  height: auto;

}
.post_item__text{
  color: #61dafb;
}
.post_item__likes{
  margin-left: 20px;
}
.post_button{
  display: block;
}
.wrapper_posts textarea{
  margin-bottom: 10px;
}